/* reset css */
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
}
/*-- Huan --*/
/* css for light/dark mode */

:root {
--primary-color: #ff6600;
--secondary-color: #ffc600;
--font-color: rgba(22, 28, 45, 0.7);
--bg-color: #fff;
--heading-color: #232121;
--border-radius: 6px;
--border-radius-full: 35px;
--border-color: transparent;
--border-color-light: #eee;
--nav-color: #232121;
--dropdown-color: #fff;
--iframe-filter: grayscale(0%);
--bg-light: rgba(130, 115, 252, .05);
--bg-grey: #f7f7f7;
--footer-bg: #000;
--card-bg: #fff;
--font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
--font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

[data-theme="dark"] {
--primary-color: #ff6600;
--secondary-color: #ffc600;
--font-color: #c2d0da;
--bg-color: #232220;
--heading-color: #eee;
--border-color: rgba(255, 255, 255, 0.2);
--border-color-light: rgba(255, 255, 255, 0.1);
--nav-color: #fff;
--dropdown-color: #121725;
--iframe-filter: grayscale(100%);
--bg-light: #282828;
--bg-grey: #282828;
--card-bg: #888c96;
--footer-bg: #000;
}
/* css general */
body,
html {
margin: 0;
padding: 0;
background: var(--bg-color);
color: var(--font-color);
/*font-family: 'Quicksand', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

}

.container{
max-width: 1200px;
padding: 0 15px;
}

body a,
button,
.btn {
cursor: pointer !important;
}
.img-responsive {
max-width: 100%;
display: block;
}
p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: 'Quicksand', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: 'Quicksand', sans-serif;
}

button,
input,
select,
label,
li,
span {
-webkit-appearance: none;
outline: none;
font-family: 'Quicksand', sans-serif;
}

a{
color: var(--primary-color);
background-color: transparent;
text-decoration: none;
}

a,
a:hover {
text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
list-style-type: none;
}
.sub-title{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  font-family: 'Pacifico', cursive;
  display: block;
  color:var(--primary-color);
}
.title{
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.btn-style, .btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
  border: 2px solid transparent;
}


.btn-white {
background: transparent;
border: 2px solid #fff;
color: #fff;
padding: 12px 45px;
font-size: 16px;
line-height: 30px;
font-weight: 700;
transition: 0.3s ease-in;
border-radius: var(--border-radius);
}
.btn-white:hover{
background: #fff;
border: 2px solid #fff;
color: var(--primary-color);
}
.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  opacity: 0.8;
}

/* --- */
/** Header */
header{
background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 700px;
}
.nav__container{
padding: 40px 0 20px 0;
}
.nav__left a{
font-size: 36px;
font-weight: 700;
color: #fff;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.search__bar .search__box{
padding: 10px 50px 10px 20px;
height: 45px;
font-size: 16px;
color: var(--font-color);
font-weight: 400;
border-radius: var(--border-radius);
position: relative;
right: 0;
background: var(--bg-color);
outline: 0;
border: 1px solid var(--bg-color);
}
.search__bar .search__icon{
right: 28px;
font-size: 14px;
cursor: pointer;
}

.banner__container{
max-width: 600px;
margin-top: 100px;
}
.banner__container h3{
font-size: 54px;
line-height: 64px;
font-weight: 600;
text-transform: capitalize;
color: #fff;
}
.banner__container p{
font-size: 16px;
line-height: 28px;
color: #fff;
}
/*-- toggle switch --*/
.theme-switch-wrapper {
display: flex;
align-items: center;
}

.theme-switch-wrapper em {
margin-left: 10px;
font-size: 1rem;
}

.theme-switch {
display: inline-block;
position: relative;
margin: 0;
}

.theme-switch input {
display: none;
}

/*-- //toggle switch --*/
/*-- dark and light mode styling --*/
.mode-container {
width: 24px;
height: 24px;
padding: 1px 0;
}

.gg-sun {
position: relative;
transform: scale(var(--ggs, 1));
height: 24px;
background: linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient(180deg, currentColor 4px, transparent 0) no-repeat 14px 5px/6px 2px;
border-radius: 100px;
box-shadow: inset 0 0 0 2px;
border: 6px solid transparent;
}

.gg-moon {
overflow: hidden;
position: relative;
transform: rotate(-135deg) scale(var(--ggs, 1));
width: 20px;
height: 20px;
border: 2px solid;
border-bottom: 2px solid transparent;
}

.gg-moon,
.gg-moon:after {
display: block;
box-sizing: border-box;
border-radius: 50%;
}

.gg-moon:after {
content: "";
position: absolute;
width: 12px;
height: 18px;
border: 2px solid transparent;
box-shadow: 0 0 0 2px;
top: 8px;
left: 2px;
}

.gg-sun,
.gg-sun:after,
.gg-sun:before {
box-sizing: border-box;
display: block;
width: 24px;
}

.gg-sun:after,
.gg-sun:before {
content: "";
position: absolute;
height: 2px;
border-right: 4px solid;
border-left: 4px solid;
left: -6px;
top: 5px;
}

.gg-sun:before {
transform: rotate(-45deg);
}

.gg-sun:after {
transform: rotate(45deg);
}

.mode-container i.gg-sun {
display: none;
color: #eee;
}

.mode-container i.gg-moon {
display: block;
color: #eee;
}

input:checked+.mode-container i.gg-sun {
display: block;
}

input:checked+.mode-container i.gg-moon {
display: none;
}

/*-- //dark and light mode styling --*/
/* Menu overlay CSS */
/* Overlay style */
.overlay {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 99999;
}

/* Overlay style */
.overlay {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgb(6 3 0 / 77%);
}

/* Overlay closing cross */
.overlay .overlay-close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  background: var(--primary-color);
  color: #fff;
  border-radius: var(--border-radius);
}

button#trigger-overlay {
outline: none;
border: none;
background: none;
text-align: center;
color: #fbfdfb;
font-size: 1.95em;
padding: 0 8px;
}

/* Menu style */
.overlay nav {
text-align: center;
position: relative;
top: 50%;
height: 60%;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}
.overlay ul {
list-style: none;
padding: 0;
margin: 0 auto;
display: inline-block;
height: 100%;
position: relative;
}
.overlay ul li {
display: block;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
  line-height:3em;
}
.overlay ul li a {
font-size: 20px;
font-weight: 600;
display: block;
color: #fff;
-webkit-transition: color 0.2s;
transition: color 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
color:var(--primary-color);
}

/* Effects */
.overlay-scale {
visibility: hidden;
opacity: 0;
-webkit-transform: scale(0.9);
transform: scale(0.9);
-webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
visibility: visible;
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1);
-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
.overlay nav {
  height: 70%;
  font-size: 34px;
}

.overlay ul li {
  min-height: 34px;
}
}
@media (max-width:767px) {
.overlay ul li a {
  font-size: 16px;
}
.overlay ul li {
  line-height: 2.5em;
}
}
@media (max-width:600px) {
.overlay ul li a {
  font-size: 16px;
}
.overlay ul li {
  line-height: 2.2em;
}
}
/** End Header */
/* About */

/* Why */
.why{
background: var(--primary-color);
}
.agent-block-image {
background: url(../img/banner3.jpg) no-repeat center;
background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
-moz-background-size: cover;
-ms-background-size: cover;
position: relative;
z-index: 1;
min-height: 600px;
}
.sub-two {
color: #fff;
}
.why p{
color: #ffdfc9;
}
.why__icon i{
padding: 22px;
background: #fff;
color: var(--primary-color);
font-size: 25px;
border-radius: var(--border-radius);
}
.why__icon:hover i{
color:#ffc600;
transition: all 0.3s;
}
.why__right .why__link {
display: block;
color: var(--heading-color);
font-weight: 700;
line-height: 1.2;
margin-bottom: 15px;
font-size: 20px;
}
.why__right .why__link:hover{
opacity: 0.9;
}


/**---------- Responsive BS4 --------*/

@media (max-width: 575.98px) { 
.banner__container h3{
  font-size: 40px;
  line-height: 50px;
}
.title {
  font-size: 24px !important;
  line-height: 34px;
}

.sub-title {
  font-size: 16px !important;
  letter-spacing: .5px;
}

.search__bar{
  display: none;
}
}

@media (max-width: 767.98px) { 
.title {
  font-size: 30px !important;
  line-height: 38px;
}
p {
  font-size: 16px;
  line-height:26px;
}
.sub-title {
  font-size: 16px;
}
header{
  min-height: 600px;
}
}

@media (max-width: 991.98px) { 
.title {
  font-size: 32px !important;
  line-height: 40px;
}
.agent-block-image {
  min-height: 200px;
}
}

@media (max-width: 1199.98px) { 

}
/*-- End Huân ---*/
/* Tam modified */
/* START CATEGORIES */
.w3l-res-categories {
  background: var(--bg-grey);
}
.categories__title {
  text-align: center;
}

.w3l-res-categories .gal-slide-info span {
  font-weight: 600;
  color: var(--secondary-color);
  font-size: 18px;
  letter-spacing: 1px;
}

.w3l-res-categories .gal-slide-img {
  position: relative;
}
.w3l-res-categories .gal-slide-img img{
  border-radius: 6px;
}

.w3l-res-categories img:hover {
  opacity: 0.85;
  transition: all 0.4s;
}


.w3l-res-categories .gal-slide-grid .gal-slide-info {
  opacity: 1;
  transition: all 0.4s;
}
.w3l-res-categories .gal-slide-info {
  left: auto;
  bottom: 0;
  width: 95%;
  padding: 0 10px;
  position: absolute;
  opacity: 0;
  color: #fff;
  transform: translate3d(0, 10%, 0);
  transition: opacity 0.3s;
}

.w3l-res-categories .content-left-sec a h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}

.w3l-res-categories .content-left-sec h6 {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  opacity: 0.9;
}
/* END CATEGORIES */
/* START FEATURES */
.home-services {
  position: relative;
}

.box-wrap {
  padding: 40px 40px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  background-color: #fff;
  position: relative;
  border: 1px solid #eee;
}
.box-wrap-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}
.icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: #8273fc0d;
  line-height: 70px;
  border-radius: 5px;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: all;
}
.icon span.fa {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
}
.box-wrap:hover .icon {
  background-color: #ff6600;
}
.box-wrap:hover .icon span {
  color: #fff;
}
.box-wrap h4 a:hover {
  color: #ff6600;
}

.box-wrap p {
  margin: 0;
}
.box-wrap:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}

.box-wrap h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: var(--heading-color);
}

/* END FEATURES */
/* START BANNER */

.banner {
  background: url(../img/banner2.jpg) no-repeat center;
  background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    position: relative;
    z-index: 1;
}
.banner:before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.welcome-left {
  max-width: 700px;
  margin: 0 auto;
}
.welcome-left h3 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #fff;
  max-width: 800px;
}

/* END BANNER */
/* START NUMBER */
.number {
  margin-top: -70px;
  z-index: 10;
  position: relative;
}

.counter {
  background-color: #fff;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  padding: 40px 20px;
  border-radius: 6px;
  text-align: center;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.counter span.fa {
  background: #ff6600;
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}
.timer {
  font-size: 2.6em;
  font-weight: 600;
  color: #232121;
}
p.count-text {
  text-transform: capitalize;
  color: #161c2db3;
  font-weight: 600;
}
.w3-stats p {
  font-size: 1.1em;
}

/* END NUMBER */
@media (max-width: 992px){
.number {
    margin-top: 0px;
}
}
@media (max-width: 736px){
.welcome-left h3 {
    font-size: 35px;
    line-height: 40px;
}}
/* tam */
/* --- */
/** HAN CSS modified */
/*--/video --*/
.new-block {
  background: var(--bg-color);
}

.video .history-info {
  background: url(../img/banner3.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 500px;
  border-radius: var(--border-radius);
}

.video .history-info:before {
  content: "";
  background: rgb(16 15 19 / 60%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--border-radius);
}


.video span.video-play-icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  background: var(--primary-color);
  border: transparent;
  color: #fff;
}

.video .play-view{
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}


.video span.video-play-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
  color: var(--primary-color);
  border: transparent;
  background: #fff;
}


#small-dialog{
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
.mfp-hide{
  display: none !important;
}
div#small-dialog iframe{
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
iframe{
  border: none;
  display: block;
}

button, input, select, label, li, span{

  outline: none;
}


@media all and (max-width:640px) {
  .w3l-videohny .history-info {
    min-height: 350px;
  }
}
@media (max-width: 900px) {
  .w3l-videohny .history-info {
    min-height: 400px;
  }
}

@media all and (max-width:380px) {
  .w3l-videohny .history-info {
    min-height: 300px;
  }
}
/*-- play icon animation --*/
@-webkit-keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%), 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

/*-- //play icon animation --*/

/*--/blog --*/
.blogpost {
  background: var(--bg-grey);
}

.title-subhny {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: 'Pacifico', cursive;
}
img {
  vertical-align: middle;
  border-style: none;
}
@media (max-width:600px) {
  .title-w3l,.title-w3l.two {
    font-size: 30px !important;
    line-height: 38px;
  }
  p {
    font-size: 16px;
    line-height:26px;
  }
  .title-subhny {
    font-size: 16px;
  }
}

@media (max-width:480px) {
  .title-w3l,.title-w3l.two {
    font-size: 26px !important;
    line-height: 36px;
  }

  .btn-white,
  .btn-style {
    padding: 10px 21px;
  }

  .title-left {
    font-size: 22px;
    line-height: 32px;
  }
}
@media (max-width:600px) {
  .title-w3l,.title-w3l.two {
    font-size: 30px !important;
    line-height: 38px;
  }
  p {
    font-size: 16px;
    line-height:26px;
  }
  .title-subhny {
    font-size: 16px;
  }
}
@media (max-width: 1080px) {
  .title-w3l,.title-w3l.two {
    font-size: 32px !important;
    line-height: 40px;
  }
}
@media (max-width: 1200px) {

  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
}
.title-w3l {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}


.blogpost .card {
  position: relative;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: none;
  border-radius: 0;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.blogpost .card-header {
  border: none;
}
.radius-image {
  border-radius: var(--border-radius);
}

.card-img,
.card-img-top,
.card-img-bottom {
  flex-shrink: 0;
  width: 100%;
}
.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}
.blogpost .post-pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.blogpost a.receipe {
  background: var(--primary-color);
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: .05em;
}
.blogpost .meta-info {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: .02em;
}
.blogpost a.read {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .02em;
  color: var(--heading-color);
  opacity: .9;
}

.blogpost a.read:hover {
  color: var(--primary-color);
}

.fa-clock-o:before {
  content: "\f017";
} 

@media (max-width: 991px) {
  .w3l-single-banner {
    margin-top: 75px;
  }
  .blogpost a.blog-desc {
    font-size: 20px;
    line-height: 30px;
  }
}

.blogpost a.blog-desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 25px;
  margin-bottom: 15px;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}


.blogpost .p-meta-info {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: flex-start;
}

.blogpost .p-meta-info img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
}
.blogpost .p-meta-info a {
  font-weight: 700;
  color: var(--heading-color);
  letter-spacing: .02em;
}
.blogpost .p-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}


/* clients - testimonials */

.clients .testimonial img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  object-position: center;
}
.clients a.comment-img {

  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.clients blockquote q {
  font-size: 24px;
  line-height: 36px;
  color: var(--heading-color);
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
}
.clients blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  display: block;
  font-family: initial;
}


.clients .testimonial .people-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 0px;
  text-align: center;
} 
.owl-theme .owl-nav [class*=owl-]:focus,
.owl-theme:focus,
.owl-dots:focus,
.owl-dot:focus {
  outline: none;
  box-shadow: none;
}
.owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  background: none;
}

@media all and (max-width: 640px) {
  .owl-dots {
    margin-top: 30px;
  }

  button.owl-next,
  button.owl-prev {
    position: absolute;
    bottom: 38%;
  }
}
.owl-theme .owl-dots .owl-dot.active span{
  background: var(--primary-color);
}


/* footer */

footer{
  background: var(--footer-bg);
}


@media (max-width: 1200px) {

  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
}
@media (max-width: 415px) {
  .welcome-left h3 {
    font-size: 26px;
    line-height: 34px;
  }

  .welcome-left p {
    font-size: 18px;
    line-height: 28px;
  }
}

footer a.navbar-brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
}
footer .footer-title-29 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}
footer .footer-list-29 ul li,
footer .midd-footer-29:nth-child(1) .footer-list-29 ul li:last-child {
  list-style: none;
  margin-bottom: 10px;
}
footer .footer-list-29 ul li:last-child {
  margin-bottom: 0px;
}
footer p{
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
footer .footer-list-29 ul li a,
footer .footer-list-29 ul li p,
.copyright .footer-list-29 ul li a,
footer a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}


footer .footer-list-29 ul li a:hover,
.copyright .footer-list-29 ul li a:hover,
footer a:hover {
  color: var(--primary-color);
}
.main-social-footer-29 a {
  margin-right: 10px;
  color: var(--primary-color);
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: var(--bg-color);
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: var(--border-radius);
  transition: 0.3s;
}

.main-social-footer-29 a  span.fa{
  line-height: 36px;
}
.main-social-footer-29 a:hover {
  background: var(--primary-color);
  transition: 0.3s;
  color: #fff;
}

.footer-list-29 ul li span.fa {
  width: 25px;
}


footer .footer-29 form {
  margin-top: 25px;
  position: relative;
}
footer input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: var(--font-color);
  background: var(--bg-color);
  border-radius: var(--border-radius);
}
footer .subscribe input[type="email"]:focus {
  border: 1px solid var(--primary-color);
  background-color: var(--bg-color);
}


/* copyright */
.copyright #movetop {
  display: none;
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}
.copyright .copy-footer-29 a {
  color: var(--primary-color);
}

.copyright .copy-footer-29 a:hover {
  color: #fff;
}
.copyright {
  padding: 1.2em 0;
  background: var(--footer-bg);
  border-top: 1px solid rgb(255 255 255 / 5%);
}
.copyright p.copy-footer-29 {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}


@media (max-width: 415px) {

  footer.footer-list-29 ul li,
  footer .midd-footer-29:nth-child(1) .footer-list-29 ul li:last-child {
    margin-bottom: 8px;
  }

  footer a.navbar-brand {
    font-size: 26px;
  }
}
